<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Contact Sahil!</title>
</head>

<body>
  <h1>Contact Info!</h1>
  <p>Here are a few ways you can contact me!</p>
  <ol>
    <li>Email me at <a href="mail:topythonchowdhury@gmail.com">pythonchowdhury@gmail.com</a>.</li>
    <li>Send mail via pigeon at Hogwarts</li>
    <li>Call me at I-AM-COOL</li>
    <li>Find me at DHS</li>
  </ol>

  <form class="" action="{{url_for('mainpage')}}" method="post">
    <label for="">Your Name:</label>
    <input type="text" name="" value="">
    <br>
    <label for="">Password: </label>
    <input type="password" name="" value="">
    <input type="submit" name="" value="Submit">
  </form>

</body>

</html>
