<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sahil's Website</title>
  <link rel="stylesheet" href="static/master.css">
</head>

<body>
  <table cellspacing = "20">
    <tr>
      <td><img src="static/sahil.jpg" alt="sahil photo" width = "200px"></td>
      <td>
        <h1>Sahil Chowdhury</h1>
        <p><em>Student at <strong><a href="https://admissions.utexas.edu/">UT Austin</a></strong></em></p>
        <p>I'm Canadian and Bangladheshi.</p>
      </td>
    </tr>
  </table>





  <h1>Stats</h1>
  <strong>Dulles High School Math & Science Academy</strong>
  <br>
  <em>2019-present</em>
  <table border="1">
    <th>
      <tr>
        <th>Stat</th>
        <th>Score</th>
      </tr>
    </th>
    <tr>
      <td><strong>Class Rank</strong></td>
      <td>1/567</td>
    </tr>
    <tr>
      <td><strong>GPA</strong></td>
      <td>4.7 (W), 4.0/4.0 (UW)</td>
    </tr>
    <tr>
      <td><strong>SAT Score</strong></td>
      <td>1570 (1580 superscore); 790 Math (800 superscore), 770 Reading</td>
    </tr>
    <tr>
      <td><strong>PSAT Score</strong></td>
      <td>1480; 760 Math, 720 Reading</td>
    </tr>
  </table>

  <hr>
  <h2>Leadership Experience</h2>

  <strong>Science National Honor Society - </strong> <em>President (2 years)</em>
  <br>
  <small>9th, 10th, 11th, 12th | 216 hours annually | 6hr/week, 36 weeks/year</small>
  <ul>
    <li>Raised $15,000 dollars over the past 2 years</li>
    <li>Led a new initiative in Dulles and FBISD to start Math &amp; Science Nights. Attracted 100+ volunteers, 120+ children, 60+ STEM booths (including external organizations like CodeNinjas and local colleges), and a local journal’s attention each
      year. $850 raised in 2021 for fundraising, $920 raised for St. Jude's Children Hospital in 2022.</li>
    <li>Head organizer for the Dulles TMSCA, garnering over 500 elementary and middle schoolers from 20+ schools and $7700 worth of fundraising</li>
    <li>First junior president elected in over 8 years</li>
    <li>Manage $10000+ budget</li>
    <li>Direct monthly meetings and activities with over 200+ members (largest club in school)</li>
    <li>Increased member count by 50+ since 2020 through large-scale club activities and advertisements</li>
    <li>Oversee weekly science practices to increase involvement in science</li>
    <li>Organized a 3-day trip to the state TMSCA with 30 members. Oversaw the team selection process, allowing Dulles to champion the state TMSCA.</li>
    <li>Spearheaded end-of-year <a href="snhsbanquet.jpeg">banquet</a> in conjunction with Mu Alpha Theta for over 100+ attendees</li>
  </ul>

  <strong>Computer Science Club - </strong><em>President (2 years)</em>
  <br>
  <small>9th, 10th, 11th, 12th | 108 hours annually | 3 hr/week, 36 weeks/year</small>
  <ul>
    <li>Elected vice-president sophomore year and president junior year</li>
    <li>Teach students about advanced algorithmic topics and data structures for competitions</li>
    <li>Organize trips and register students for local contests and UIL</li>
    <li>Worked non-competitive computer science topics into the club by hosting monthly meetings to delve into topics like web development, data science, cybersecurity, etc.</li>
    <li>Aided in running an in-person mock Dulles UIL Computer Science Competition for 12+ schools and 60+ high school participants</li>
  </ul>

  <strong>Coding For Medicine - </strong> <em>Secretary</em>
  <br>
  <small>11th, 12th | 160 hours annually | 4 hr/week, 40 weeks/year </small>
  <ul>
    <li>International club founded two years ago (12+ chapters across the U.S. and other countries) dedicated to combining code with biological tools and databases to create a deep understanding of medicine</li>
    <li>Create weekly materials to teach teenagers around the globe the basics of Python, Linux, MUSCLE, and BLAST</li>
    <li>Working on a scientific literature review project for the past year to gain an understanding of high AG content in parasitic plant genus Balanophora under PhD mentor Manoj Samanta</li>
  </ul>

  <strong>Vibrant Learning</strong> - <em>Lead Geometry Teacher (3 years)</em>
  <br>
  <small>9th, 10th, 11th | 60 hours annually | 6 hr/week, 10 weeks/year</small>
  <ul>
    <li>Created a 30-week math curriculum with LaTeX handouts, totalling over 120+ pages worth of original theory, diagrams, and problems</li>
    <li>Hosted free weekly classes for elementary kids around the U.S.</li>
    <li>Prepared material and taught at a 2-week math camp to collect over $420 to help with COVID research through tutoring</li>
  </ul>

  <strong>SciNow - Outreach Director</strong>
  <br>
  <small>10th, 11th, 12th | 108 hours annually | 3 hr/week, 36 weeks/year</small>

  <ul>
    <li>Reach out to external organizations/guest speakers to present at local schools</li>
    <li>Create and review weekly powerpoint slides to teach children about advanced science concepts</li>
    <li>Team leader for a group of 10 high schoolers. In charge of mentoring new volunteers and gathering materials for weekly interactive science experiments.</li>
    <li>Devised and organized a mock science bowl for over 30+ local elementary schoolers</li>
  </ul>
  <strong>Mu Alpha Theta - Inducted Member</strong>
  <br>
  <small>9th, 10th, 11th, 12th | 36 hours annually | 1 hr/week, 36 weeks/year</small>

  <ul>
    <li>Tutor peers in advanced mathematical concepts ranging from Algebra I to Calculus</li>
    <li>Participate in numerous contests and outreach activities to increase interest in math</li>
  </ul>

  <hr>
  <h2>STEM/Career Related Experiences</h2>
  <strong>MDAnderson Bioinformatics Lab - </strong><em>Student Researcher</em>
  <br>
  <small>March 2022 - Present | 360 hours | 14hr/week</small>
  <ul>
    <li>Performed Gene Set Enrichment Analysis (GSEA) to find genes correlated to blood cancer in hospital patients</li>
    <li>Created a random forest classifier to distinguish between healthy cells and cancer cells </li>
    <li>Designed and hyper parameterized various machine learning models (multilayer perceptrons, support-vector machines, decision trees, random forests, XGBoost, logistic regression models) to create high-performing cell classifiers on a training
      set of 60,000+ cells using a MDAnderson’s High Throughput Computing Cluster</li>
    <li>Currently researching the effects of feature selection, single cell-sequencing technologies, and cell type on the accuracy of ML models in the Chen Lab</li>
  </ul>

  <strong>Coding for Medicine Bioinformatics Course - Camp Member</strong>
  <br>
  <small>June 2020 | 60 hours | 30 hr/week, 2 weeks</small>
  <ul>
    <li>Automatically promoted from the introductory to intermediate course by course mentor due to impressive levels of experience</li>
    <li>Used Biopython to analyze and extract information from the COVID-19 Genome</li>
    <li>Predicted how a point mutations create new genes and different phenotypes</li>
  </ul>
  <strong>Machine Learning Specialization Course by Andrew Ng and Stanford - Participant</strong>
  <br>
  <small>June 2021 - August 2021 | 36 hours | 4 hr/week, 9 weeks</small>
  <ul>
    <li>Learned about machine learning fundamentals in Octave/MATLAB, including regression, anomaly detection, and methods for improving machine learning models</li>
    <li>Applied knowledge to successfully complete 8 different machine learning labs</li>
  </ul>

  <strong>Competitive Programming Initiative Intermediate Class - Participant</strong>
  <br>
  <small>September 2021 - November 2021 | 36 hours | 4 hr/week, 9 weeks</small>
  <ul>
    <li>Covered a variety of advanced competitive programming topics including prefix sums, dynamic programming, tree algorithms, DFS &amp; BFS, etc.</li>
    <li>Ranked consistently in the top 3 leaderboard for completing programming problems</li>
  </ul>

  <strong>Everaise Math Camp - Camp Member</strong>
  <br>
  <small>June 2020 | 120 hours | 30 hr/week, 4 weeks</small>
  <ul>
    <li>Rigorous and advanced online math camp covering a breadth of topics including olympiad number theory, geometry, algebra, and combinatorics</li>
  </ul>

  <hr>
  <h2>Independent Projects</h2>
  <strong>Organic Chemistry Compound Namer</strong>
  <br>
  <small>12th | 35 hrs</small>
  <ul>
    <li>Used OpenCV and Pytesseract API for line, shape, and letter recognition to extract information from a digital, hand-drawn picture of an organic compound</li>
    <li>Can name alkanes and cyclic compounds with substituent groups</li>
  </ul>

  <strong>Deep Q-Learning with Modified Cartpole Agent AI</strong>
  <br>
  <small>11th | 30 hrs</small>

  <ul>
    <li>Trained a deep learning model using TensorFlow with the objective of balancing a pole protruding from a car (acting as the agent) by only moving the car left or right on straight ground and in a semi-circle</li>
    <li>Implemented agent’s memory, reward function, and learning algorithm in Python</li>
  </ul>
  <strong>Breast Cancer Predictor</strong>
  <br>
  <small>11th | 15 hrs</small>

  <ul>
    <li>Scraped Breast Cancer Cell data from Kaggle using Python and Google Sheets API.</li>
    <li>Created a logistic regression and neural network model to differentiate malignant and benign tumors completely from scratch, optimizing for various parameters to achieve ~92% classification accuracy.</li>
  </ul>
  <strong>Edge Detection</strong>
  <br>
  <small>9th | 20 hrs</small>

  <ul>
    <li>Used Java AWT and JavaX API to create an edge detection filter for any given digital image.</li>
    <li>Can adjust parameters to emphasize/de-emphasize edges.</li>
  </ul>
  <strong>Evolution Simulator</strong>
  <br>
  <small>10th | 20 hrs</small>

  <ul>
    <li>Simulated natural selection with ‘creatures’ with varying mutations, size, velocity, and reproductive speeds.</li>
    <li>Can graph the interesting trends that appear as a result of varying statistics among the mock population.</li>
  </ul>
  <hr>
  <h2>Awards & Accomplishments</h2>
  <h3>International/National</h3>
  <ol>
    <li>National Merit Winner ($2500 scholarship)</li>
    <li>1st Place Texas Team for Purple Comet (Math Competition) High School Division for schools with over 1200+ students, Honorable Mention (Top 5%) Internationally out of 421 teams</li>
    <li>USACO Silver Division (Perfect Score USACO Bronze)</li>
    <li>AIME Qualifier (2020, 2022, 2023)</li>
    <li>AP Scholar with Distinction</li>
  </ol>

  <h3>District</h3>
  <ol>
    <li>2019 Needville UIL Invitational Computer Science Written 1st place (perfect score)</li>
    <li>2023 Travis UIL Practice Meet Computer Science Written 1st place</li>
    <li>2023 Clements UIL Invitation Computer Science Written 2nd place</li>
    <li>2019 Seven Lakes UIL Computer Science Hands-On (Novice) 2nd Place</li>
    <li>2022 UIL District Computer Science Written Exam 4th Place</li>
    <li>2020 Clements UIL Computer Science Written Exam 4th Place</li>
    <li>2020 Clements UIL Computer Science Hands-On (Advanced) 4th Place</li>
    <li>2020 Seven Lakes UIL Computer Science Written 5th Place</li>
  </ol>

  <h3>School/Miscellaneous</h3>
  <ol>
    <li>Student of the Week for hosting a Math and Science Night to create interest in STEM fields (~30/2400 students selected)</li>
    <li>Recognized in the Math Competitions II Everaise textbook for insightful geometry proof</li>
    <li>100+ hours of science and math volunteering</li>
  </ol>
  <hr>
  <h2>Languages and Other Skills</h2>
  <ul>
    <li>Proficient in Octave, R, MATLAB, Python, Java, Bash, LaTeX</li>
    <li>Conversant in Spanish and Bengali</li>
  </ul>
  <hr>
  <h3>Skills (up to 5 &#9734;'s)</h3>
  <table cellspacing = "10">
    <tr>
      <td>Coding</td>
      <td>&#9734;&#9734;&#9734;</td>
      <td>Cubing</td>
      <td>&#9734;&#9734;&#9734;&#9734;</td>
    </tr>
    <tr>
      <td>Chess</td>
      <td>&#9734;&#9734;</td>
      <td>Rizzing</td>
      <td>&#9734;&#9734;&#9734;&#9734;&#9734;</td>
    </tr>
  </table>
  <a href="hobbies.html">My Hobbies</a>
  <br>
  <a href="contactinfo.html">Contact</a>
</body>

</html>
